[user]
	name = bill_lv
	email = lber19535@126.com
[color]
	ui = true
[core]
	autocrlf = input
	editor = vim
	filemode = false
[diff]
	external = /bin/git-meld.sh  # diff tool path
[commit]
        template = /home/bill/git-template  # commit template
[alias]
    cd = checkout develop
    rh = reset --hard
    st = status
    cp = cherry-pick
    sts = status -s
    lp = log -p
    co = checkout
    ci = commit
    br = branch
    cob = checkout -b
    brd = branch -d
    brD = branch -D
    puc = push -u origin HEAD
    sth = stash
    sthp = stash pop
    pr = pull --rebase
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
