[user]
	name = bill_lv
	email = lber19535@126.com
[color]
	ui = true
[core]
	autocrlf = input
	editor = vim
[diff]
	external = /bin/git-meld.sh
[alias]
	st = status
	sts = status -s
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
